.allprojects {
  max-width: 70%;
  padding: 90px;
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#tri-d-wrapper {
-webkit-perspective: 300px;
box-sizing: border-box;
perspective: 300px;
height: 100%;
width: 100%;
}

#img-wrapper {
width: 350px;
background: #3498db;
margin: 0;
position: absolute;
border-radius: 4px;
overflow: hidden;
top: 50%;
left: 50%;
margin-left: -175px;
margin-top: -131px;
-webkit-transform: rotateX(30deg) scale(.65);
transform: rotateX(30deg) scale(.65);
-webkit-transition: .6s all ease;
transition: .6s all ease;
box-shadow: inset 0 0 30px rgba(0,0,0,0.5),  15px 20px 10px rgba(0,0,0,.4);
}

#img-wrapper:hover {
-webkit-transform: rotateX(0deg) scale(1);
transform: rotateX(0deg) scale(1);

box-shadow: inset 0 0 30px rgba(0,0,0,0.5), 1px 1px 10px rgba(0,0,0,0.7);
}

#img-wrapper img {
width: 100%;
margin: 0;
position: relative;
display: block;
-webkit-transition: .3s all ease;
transition: .3s all ease;
}

#img-wrapper:hover img {
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}

#img-wrapper:hover figcaption {
background: rgba(0,0,0,.75);
}

#img-wrapper:hover figcaption h2 {
opacity: 1;
padding-left: 20px;
padding-top: -20px;
-webkit-transition: .3s all ease .3s;
transition: .3s all ease .3s;
}
#img-wrapper:hover figcaption h5 {
opacity: 1;
padding-left: 20px;
-webkit-transition: .3s all ease .3s;
transition: .3s all ease .3s;
}

#img-wrapper:hover figcaption .bottom-detail {
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
box-shadow: inset 0 0 30px rgba(0,0,0,0.3), 1px 1px 3px rgba(0,0,0,0.7);
}

#img-wrapper:hover figcaption .bottom-detail p {
opacity: 1;
top: 0;
-webkit-transition: .3s all ease .5s;
transition: .3s all ease .5s;
}

#img-wrapper:hover figcaption .bottom-detail .social a i {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s all ease .5s;
transition: .3s all ease .5s;
}

#img-wrapper:hover figcaption .bottom-detail .social a i#github {
-webkit-transition: .3s all ease .7s;
transition: .3s all ease .7s;
}

#img-wrapper:hover figcaption .bottom-detail .social a i#home {
}


figcaption {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
-webkit-transition: .3s all ease;
transition: .3s all ease;

  
}

figcaption h2 {
margin: 0;
color: white;
font-size: 22px;
line-height: 70px;
opacity: 0;
padding-left: 0;
padding-right: 20px;
font-weight: 300;
}

figcaption h5 {
margin: 0;
color: white;
font-size: 8px;
line-height: 70px;
opacity: 0;
padding-left: 0;
padding-right: 20px;
font-weight: 300;
}

figcaption .bottom-detail {
position: absolute;
width: 100%;
bottom: 0;
top: 70px;
background: white;
-webkit-transform: translateY(100%);
-ms-transform: translateY(100%);
transform: translateY(100%);
-webkit-transition: .3s all ease .1s;
transition: .3s all ease .1s;
}

.bottom-detail p {
font-size: 17px;
opacity: 0;
top: 20px;
padding-left: 20px;
padding-right: 20px;
color: #999;
font-weight: 300;
line-height: 1.5;
}

.bottom-detail .social {
bottom: 5%;
position: absolute;
right: 5%;
}


.social a i {
font-size: 28px;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}




