.project1 {
  left: 50%;
  margin-left: -13em;
  z-index: 10;
  transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -webkit-transform: rotateZ(-3deg);
  transition: all 0.5s ease-out 0.3s;
}
.project2 {
  left: 50%;
  margin-left: -12em;
  z-index: 9;
  transition: all 0.5s ease-out 0.15s;
}
.project3 {
  left: 50%;
  margin-left: -11em;
  z-index: 8;
  transform: rotateZ(3deg);
  -webkit-transform: rotateZ(3deg);
  -moz-transform: rotateZ(3deg);
  transition: all 0.5s ease-out;
}
.start .project {
  left: -100%;
  opacity: 0;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}
.project-container {
  position: relative;
  width: 18em;
  margin: 4em auto;
}
.project {
  position: absolute;
  top: 300px;
  background: #fff;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.7);
  border-radius: 0em;
  padding: 2em;
  width: 20em;
  max-width: 20em;
  -webkit-backface-visibility: hidden;
}
.project a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.project h1 {
  margin-top: 0;
}
.project p {
  line-height: 1.75em;
  margin-bottom: 0;
}
.project-container:hover .project,
.project-container.hover .project {
  opacity: 0.9;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  margin-left: -12em;
}
.project-container:hover .project:hover,
.project-container.hover .project:hover,
.project-container:hover .project.hover,
.project-container.hover .project.hover {
  opacity: 1;
  z-index: 11;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.project-container:hover .project1,
.project-container.hover .project1 {
  transform: rotateZ(0deg) scale(0.95);
  -webkit-transform: rotateZ(0deg) scale(0.95);
}
.project-container:hover .project2,
.project-container.hover .project2 {
  left: 0%;
}
.project-container:hover .project3,
.project-container.hover .project3 {
  left: 100%;
}
img {
  max-width: 100%;
}
@media (min-width: 880px) {
  body {
    font-size: 0.9em;
  }
  .project-container {
    width: 24em;
  }
}
@media (min-width: 1075px) {
  body {
    font-size: 1.1em;
  }
  .project-container {
    width: 38em;
  }
}
@media (max-height: 550px) {
  body {
    font-size: 0.8em;
  }
  .project-container {
    width: 24em;
  }
}
