<footer class="footer">
<div class="container-fluid container-footer hidden-print">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4 logo-footer">
        <img class="logo-footer" src="/providence/content/images/en-US-north-light-prov/logo.png" alt="Providence Health &amp; Services" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 container-footerlinks">
<ul class="footer-links">
<li><a href="/providence/Index">Home</a></li>
<li><a href="/providence/AboutUs">About Us</a></li>
<li><a href="/providence/Privacy">Privacy Policy &amp; Disclaimer</a></li>
<li><a href="/providence/Accessibility">Accessibility Policy</a></li>
<li><a href="/providence/ContactUs">Contact Us</a></li>
<li><a href="/providence/TechnicalProblems">Technical Problems</a></li>
<li><a href="http://washington.providence.org/">washington.providence.org</a></li>
</ul>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <ul class="footer-links social-media">
            <li>
                <a rel="tooltip" title="Share this page to Facebook" class="social-media facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.resourcehouse.info:443/providence/SpecialTopics/" onclick="window.open(&quot;https://www.facebook.com/sharer/sharer.php?u=&quot; + encodeURIComponent(window.location.href),&quot;sharer&quot;,&quot;toolbar=0,status=0,width=580,height=325&quot;); return false;">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a rel="tooltip" title="Share this page to Twitter" class="social-media twitter" href="https://twitter.com/intent/tweet?url=https://www.resourcehouse.info:443/providence/SpecialTopics/" onclick="window.open(&quot;https://twitter.com/intent/tweet?url=&quot; + encodeURIComponent(window.location.href),&quot;sharer&quot;,&quot;toolbar=0,status=0,width=580,height=325&quot;); return false;">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid container-copyright hidden-print">
    <div class="col-xs-12 col-md-0 col-lg-2">
    </div>
    <div class="col-xs-12 col-md-3 col-lg-2">
        <div class="copyrights">
            <img src="/providence/Content/Images/r.png" width="24" height="24" alt="Revation Logo" />
            <div class="powered-by">
                Powered by Revation Systems
            </div>
            <div class="copyright">
                &copy; Copyright 2017 <span class="nowrap">Revation Systems, Inc.</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-6">
        <p class="copyright fineprint">Text, graphics, and HTML code are protected by US and International Copyright Laws, and may not be copied, reprinted, published, translated, hosted, or otherwise distributed by any means without explicit permission. Commercial use and distribution of the contents of the website is not allowed without express and prior written consent of the author.</p>
    </div>
</div>
</footer>
