<header>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid container-mainnav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a href="/providence/Index"><img src="/providence/content/images/en-US-north-light-prov/logo.png" alt="Providence Health &amp; Services" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="">
        <ul class="nav navbar-nav">
          <li data-pp-sectionname="PopularTopics" class="dropdown menu-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="mainnav-item"><span class="mainnav-icon"><span class="hidden-lg"><i class="fa fa-fire fa-2x"></i></span><span class="visible-lg-inline"><i class="fa fa-fire fa-3x"></i></span></span><span class="mainnav-title ">Popular Topics</span><span class="mainnav-desc"><p>Focus on special topics or populations</p>
              </span></span>
            </a>
            <ul class="dropdown-menu megamenu row">
              <li class="container">
                <div class="col-sm-12 col-md-2 col-md-offset-2 container-subnav-heading hidden-xs">
                  <span class="subnav-heading">Popular Topics</span>
                  <span class="subnav-desc"><p>Focus on special topics or populations</p>
                  </span>
                </div>
                <ul class="col-sm-12 col-md-8 subnav-links">
                  <li><a href="/providence/SpecialTopics/LiveHealthy2020">LiveHealthy2020</a></li>
                  <li><a href="/providence/SpecialTopics/LiveWell">LiveWell Local</a></li>
                </ul>
              </li>
            </ul>

          </li>
          <li data-pp-sectionname="Favorites" class="dropdown menu-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="mainnav-item"><span class="mainnav-icon"><span class="hidden-lg"><i class="fa fa-heart fa-2x"></i></span><span class="visible-lg-inline"><i class="fa fa-heart fa-3x"></i></span></span><span class="mainnav-title pad-more">My Favorites</span><span class="mainnav-desc"><p>Sign in to access your saved resources</p>
              </span></span>
            </a>
            <ul class="dropdown-menu megamenu row">
              <li class="container">
                <div class="col-sm-12 col-md-2 col-md-offset-2 container-subnav-heading hidden-xs">
                  <span class="subnav-heading">My Favorites</span>
                  <span class="subnav-desc"><p>Sign in to access your saved resources</p>
                  </span>
                </div>
                <ul class="col-sm-6 col-md-2">
                  <li><a href="/providence/Account/Favorites">My Favorites</a></li>
                  <li><a href="/providence/Account/Searches">My Searches</a></li>
                </ul>
                <ul class="col-sm-6 col-md-2">
                  <li><a href="/providence/Account/Comparisons">My Comparisons</a></li>

                </ul>
                <ul class="col-sm-6 col-md-2">
                  <li><a href="/providence/Account/UserAccount">My Settings</a></li>
                </ul>
              </li>
            </ul>

          </li>
          <li data-pp-sectionname="ContactUs" class="dropdown menu-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="mainnav-item"><span class="mainnav-icon"><span class="hidden-lg"><i class="fa fa-mobile fa-2x"></i></span><span class="visible-lg-inline"><i class="fa fa-mobile fa-3x"></i></span></span><span class="mainnav-title pad-less">Contact Us</span><span class="mainnav-desc"><p>Need help? Contact Providence</p>
              </span></span>
            </a>
            <ul class="dropdown-menu megamenu row">
              <li class="container">
                <div class="col-sm-12 col-md-2 col-md-offset-2 container-subnav-heading hidden-xs">
                  <span class="subnav-heading">Contact Us</span>
                  <span class="subnav-desc">
                    <p>Need help? <br />Contact Providence</p>
                  </span>
                </div>
                <div class="col-sm-12 col-md-8 subnav-contact">
                  <p>
                    <b>Providence Health &amp; Services</b><br />
                    1321 Colby Ave <br />
                    C4 Room 014 <br />
                    Everett, WA 98201 <br />
                    <p>
                      <b>Phone:</b> 425-261-3344 <br />
                      <b>Email:</b> <a href="mailto:PIHC@providence.org">PIHC@providence.org</a><br />
                    </div>
                  </li>
                </ul>


              </li>
            </ul>
          </div>
          <div class="container-fluid container-blocknav">
            <ul class="nav navbar-nav navbar-right navbar-blocknav">
              <li>
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
              </li>
              <li><a href="/providence/Account/SignIn">Sign In</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
</header>
