<div class="container-fluid container-search">
        <div class="container">
          <div class="search-bar">
            <form class="ng-pristine ng-valid">
              <div class="row nav-2">
                <div class="col-xs-12 col-sm-6">
                  <div class="container-input-kwd ">
                    <input type="hidden" name="sm" value="All" autocomplete="off">
                    <label class="search-label sr-only" for="q">Search</label>
                    <input class="form-control input-lg kwd-input" data-searchmethod="keywords" id="q" name="q" placeholder="What are you looking for?" type="text" ng-model="$ctrl.keyword" >
                  </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <div class="">
                    <div class="input-group location">
                      <label class="search-label sr-only" for="loc">Location Input</label>
                      <input class="form-control input-lg" data-container="body" data-html="true" data-placement="top" id="loc" name="loc" placeholder="Where?" type="text" value="">
                      <span class="input-group-addon"><a href="#" onclick="return false;" role="button" tabindex="1" title="Location Options"><span class="glyphicon glyphicon-map-marker"></span><span class="sr-only">Location Options</span></a></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-1">
                  <button class="btn btn-primary btn-lg btn-search-main" type="submit" ng-click="$ctrl.doSearch()"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
                </div>
              </div>
              <div style="display:none;visibility:hidden">
                <input id="geo" name="geo" type="hidden" value="" autocomplete="off">
                <input id="reg" name="reg" type="hidden" value="" autocomplete="off">
              </div>

            </form>
          </div>
        </div>
      </div>
