<div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas filters hidden-print" id="sidebar" role="navigation">
              <h2 class="heading-filters">Filters <span class="def glyphicon glyphicon-question-sign" rel="tooltip" data-container="body" data-placement="top" title=""></span></h2>



              <div class="search-within" role="search">
                <form method="get" class="ng-pristine ng-valid">
                  <label for="search-within" class="panel-title sr-only">Search Within Results</label>
                  <div class="input-group search-within">
                    <input type="text" id="search-within" name="qw" value="" class="form-control" placeholder="Search Within the Results" ng-model="keyword2">
                    <span class="input-group-btn"><button class="btn btn-default" type="" ng-click="doSearchWithin()"><span class="glyphicon glyphicon-search"></span><span class="sr-only">Search</span></button></span>
                  </div>
                  <div style="display:none;visibility:hidden">

                    <input type="hidden" name="q" autocomplete="off">
                    <input type="hidden" name="sm" autocomplete="off">
                    <input type="hidden" name="loc" autocomplete="off">
                    <input type="hidden" name="r" autocomplete="off">
                    <input type="hidden" name="geo" autocomplete="off">
                    <input type="hidden" name="reg" autocomplete="off">
                    <input type="hidden" name="o" autocomplete="off">
                    <input type="hidden" name="t" autocomplete="off">
                    <input type="hidden" name="title" autocomplete="off">
                    <input type="hidden" name="cs" autocomplete="off">
                  </div>
                </form>
              </div>

              <div class="search-within" role="search">
                <form method="get" class="ng-pristine ng-valid">
                  <div style="display:none;visibility:hidden">
                    <input type="hidden" name="r" value="0" autocomplete="off">
                  </div>
                  <div style="display:none;visibility:hidden">
                    <input type="hidden" name="q" autocomplete="off">
                    <input type="hidden" name="sm" autocomplete="off">
                    <input type="hidden" name="loc" autocomplete="off">
                    <input type="hidden" name="geo" autocomplete="off">
                    <input type="hidden" name="reg" autocomplete="off">
                    <input type="hidden" name="o" autocomplete="off">
                    <input type="hidden" name="t" autocomplete="off">
                    <input type="hidden" name="title" autocomplete="off">
                    <input type="hidden" name="cs" autocomplete="off">
                  </div>
                </form>
              </div>





              <ul class="list-group lvl-1">
                <li class="list-group-item ">
                  <a href="#collapse-0" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-0">Ages reached by program<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-0">
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dAdult+(26-59)" rel="nofollow"><span class="badge">234</span> Adult (26-59)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dSeniors+(60%2b)" rel="nofollow"><span class="badge">215</span> Seniors (60+)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dYoung+Adults+(19-25)" rel="nofollow"><span class="badge">195</span> Young Adults (19-25)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dTeen+(11-18)" rel="nofollow"><span class="badge">190</span> Teen (11-18)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dYouth+(6-10)" rel="nofollow"><span class="badge">182</span> Youth (6-10)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Ages+reached+by+program%3dChildren+(0-5)" rel="nofollow"><span class="badge">127</span> Children (0-5)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-0" class="sr-only">Other Ages reached by program</label>
                            <select class="form-control" id="morefacets-0" placeholder="More">
                              <option value="" default="">More options …</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Ages+reached+by+program%3d" data-morefacets="morefacets-0" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-1" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1">Genders Served<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-1">
                    <li class="list-group-item"><a href="?f=Genders+Served%3dGender+Fluid" rel="nofollow"><span class="badge">296</span> Gender Fluid<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Genders+Served%3dFemale" rel="nofollow"><span class="badge">292</span> Female<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Genders+Served%3dMale" rel="nofollow"><span class="badge">289</span> Male<i class="def fa fa-square-o"></i></a></li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-2" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2">Geography Served<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-2">
                    <li class="list-group-item"><a href="?f=Geography+Served%3dCountywide" rel="nofollow"><span class="badge">200</span> Countywide<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Geography+Served%3dEverett" rel="nofollow"><span class="badge">184</span> Everett<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Geography+Served%3dMarysville" rel="nofollow"><span class="badge">151</span> Marysville<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Geography+Served%3dMukilteo" rel="nofollow"><span class="badge">133</span> Mukilteo<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Geography+Served%3dMill+Creek" rel="nofollow"><span class="badge">125</span> Mill Creek<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Geography+Served%3dMonroe" rel="nofollow"><span class="badge">124</span> Monroe<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-2" class="sr-only">Other Geography Served</label>
                            <select class="form-control" id="morefacets-2" placeholder="More">
                              <option value="" default="">More options …</option>
                              <option value="98012">98012</option>
                              <option value="98020">98020</option>
                              <option value="98021">98021</option>
                              <option value="98026">98026</option>
                              <option value="98036">98036</option>
                              <option value="98037">98037</option>
                              <option value="98043">98043</option>
                              <option value="98046">98046</option>
                              <option value="98087">98087</option>
                              <option value="98201">98201</option>
                              <option value="98203">98203</option>
                              <option value="98204">98204</option>
                              <option value="98205">98205</option>
                              <option value="98206">98206</option>
                              <option value="98207">98207</option>
                              <option value="98208">98208</option>
                              <option value="98213">98213</option>
                              <option value="98223">98223</option>
                              <option value="98241">98241</option>
                              <option value="98251">98251</option>
                              <option value="98252">98252</option>
                              <option value="98256">98256</option>
                              <option value="98258">98258</option>
                              <option value="98259">98259</option>
                              <option value="98270">98270</option>
                              <option value="98271">98271</option>
                              <option value="98272">98272</option>
                              <option value="98275">98275</option>
                              <option value="98287">98287</option>
                              <option value="98290">98290</option>
                              <option value="98291">98291</option>
                              <option value="98292">98292</option>
                              <option value="98293">98293</option>
                              <option value="98294">98294</option>
                              <option value="98296">98296</option>
                              <option value="Arlington">Arlington</option>
                              <option value="Bothell">Bothell</option>
                              <option value="Brier">Brier</option>
                              <option value="Darrington">Darrington</option>
                              <option value="Edmonds">Edmonds</option>
                              <option value="Gold Bar">Gold Bar</option>
                              <option value="Granite Falls">Granite Falls</option>
                              <option value="Index">Index</option>
                              <option value="Lake Stevens">Lake Stevens</option>
                              <option value="Lynnwood">Lynnwood</option>
                              <option value="Mountlake Terrace">Mountlake Terrace</option>
                              <option value="Snohomish">Snohomish</option>
                              <option value="Stanwood ">Stanwood </option>
                              <option value="Sultan">Sultan</option>
                              <option value="Verdant Service Area">Verdant Service Area</option>
                              <option value="Woodway">Woodway</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Geography+Served%3d" data-morefacets="morefacets-2" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-3" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3">Household type served<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-3">
                    <li class="list-group-item"><a href="?f=Household+type+served%3dOpen+to+all+(general+community)" rel="nofollow"><span class="badge">286</span> Open to all (general community)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Household+type+served%3dSingle+adult" rel="nofollow"><span class="badge">15</span> Single adult<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Household+type+served%3dMultiple+adults" rel="nofollow"><span class="badge">14</span> Multiple adults<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Household+type+served%3dSingle+adult+with+children" rel="nofollow"><span class="badge">8</span> Single adult with children<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Household+type+served%3dSupportive+living" rel="nofollow"><span class="badge">8</span> Supportive living<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Household+type+served%3dMultiple+adults+with+children" rel="nofollow"><span class="badge">7</span> Multiple adults with children<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-3" class="sr-only">Other Household type served</label>
                            <select class="form-control" id="morefacets-3" placeholder="More">
                              <option value="" default="">More options …</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Household+type+served%3d" data-morefacets="morefacets-3" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-4" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4">Program Focus<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-4">
                    <li class="list-group-item"><a href="?f=Program+Focus%3dAdult+activity+programs" rel="nofollow"><span class="badge">138</span> Adult activity programs<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Focus%3dCommunity+nutrition+education" rel="nofollow"><span class="badge">131</span> Community nutrition education<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Focus%3dChild+nutrition" rel="nofollow"><span class="badge">124</span> Child nutrition<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Focus%3dHealth+education" rel="nofollow"><span class="badge">123</span> Health education<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Focus%3dYouth+activity+programs" rel="nofollow"><span class="badge">107</span> Youth activity programs<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Focus%3dSafety+net+programs" rel="nofollow"><span class="badge">81</span> Safety net programs<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-4" class="sr-only">Other Program Focus</label>
                            <select class="form-control" id="morefacets-4" placeholder="More">
                              <option value="" default="">More options …</option>
                              <option value="Awareness Building">Awareness Building</option>
                              <option value="Emergency food access">Emergency food access</option>
                              <option value="Employee wellness">Employee wellness</option>
                              <option value="Farmers markets/community gardens">Farmers markets/community gardens</option>
                              <option value="Other">Other</option>
                              <option value="Senior nutrition">Senior nutrition</option>
                              <option value="Youth Programs">Youth Programs</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Program+Focus%3d" data-morefacets="morefacets-4" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-5" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5">Program Objective<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-5">
                    <li class="list-group-item"><a href="?f=Program+Objective%3dPromoting+a+balanced+diet" rel="nofollow"><span class="badge">196</span> Promoting a balanced diet<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Objective%3dReducing+sedentary+behavior" rel="nofollow"><span class="badge">190</span> Reducing sedentary behavior<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Objective%3dIncreasing+adult+activity" rel="nofollow"><span class="badge">182</span> Increasing adult activity<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Objective%3dReducing+food+insecurity" rel="nofollow"><span class="badge">140</span> Reducing food insecurity<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Objective%3dIncreasing+youth+activity" rel="nofollow"><span class="badge">133</span> Increasing youth activity<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Objective%3dOther" rel="nofollow"><span class="badge">104</span> Other<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-5" class="sr-only">Other Program Objective</label>
                            <select class="form-control" id="morefacets-5" placeholder="More">
                              <option value="" default="">More options …</option>
                              <option value="Capacity building">Capacity building</option>
                              <option value="Ensuring a healthy weight">Ensuring a healthy weight</option>
                              <option value="Promoting a healthy weight">Promoting a healthy weight</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Program+Objective%3d" data-morefacets="morefacets-5" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-6" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-6">Program Type<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-6">
                    <li class="list-group-item"><a href="?f=Program+Type%3dIncrease+activity" rel="nofollow"><span class="badge">278</span> Increase activity<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Type%3dImprove+nutrition" rel="nofollow"><span class="badge">237</span> Improve nutrition<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Program+Type%3dIncrease+mental%2femotional+health" rel="nofollow"><span class="badge">2</span> Increase mental/emotional health<i class="def fa fa-square-o"></i></a></li>
                  </ul>
                </li>
                <li class="list-group-item ">
                  <a href="#collapse-7" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-7">Sub-community or ethnic group reach<span class="glyphicon glyphicon-menu glyphicon-menu-down"></span></a>
                  <ul class="list-group lvl-2 collapse" id="collapse-7">
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dOpen+to+all+(general+community)" rel="nofollow"><span class="badge">291</span> Open to all (general community)<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dLatino" rel="nofollow"><span class="badge">15</span> Latino<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dPeople+with+diverse+abilities" rel="nofollow"><span class="badge">12</span> People with diverse abilities<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dCaucasian" rel="nofollow"><span class="badge">9</span> Caucasian<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dAfrican+American" rel="nofollow"><span class="badge">7</span> African American<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item"><a href="?f=Sub-community+or+ethnic+group+reach%3dChinese" rel="nofollow"><span class="badge">7</span> Chinese<i class="def fa fa-square-o"></i></a></li>
                    <li class="list-group-item">
                      <div id="collapseSearchFeature-04" class="filter-input">
                        <div class="form-group">
                          <div class="input-group">
                            <label for="morefacets-7" class="sr-only">Other Sub-community or ethnic group reach</label>
                            <select class="form-control" id="morefacets-7" placeholder="More">
                              <option value="" default="">More options …</option>
                              <option value="Filipino">Filipino</option>
                              <option value="Japanese">Japanese</option>
                              <option value="Korean">Korean</option>
                              <option value="Russian">Russian</option>
                            </select>
                            <span class="input-group-btn">
                              <button type="button" data-morefacetsurl="?f=Sub-community+or+ethnic+group+reach%3d" data-morefacets="morefacets-7" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span><span class="sr-only">Submit</span></button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>                        </div>
